.cutlets__main {
  max-width: 720px;
  height: 408px;
  background-image: url(../../../images/main.png);
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 737px) {
  .cutlets__main {
    background-size: cover;
  }
}
